@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Raleway, sans-serif;
}

pre.prettyprint {
    border: 1px solid #C8C8C8 !important;
}

pre {
    border-radius: 4px;
    padding: 4px;
    border: 0px;
}

h1, h2, h3 {
    margin-bottom: 24px 0;
}

p {
    margin: 8px 0;
}

li {
    margin-left: 24px;
}

nav li {
    margin: 0;
}